.Container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form list";
  overflow: hidden;
}

.Form-Container {
  grid-area: form;
  background: #fffffe;
}

.List-Container {
  grid-area: list;
  overflow-y: auto;
}
