@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #d8eefe;
}

h1, h2 {
  color: #094067;
  font-size: 3.5rem;
  font-weight: 700;
}

p {
  color: #5f6c7b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
