.container-list h1{
    font-size: 48px;
    color: #34495e;
    margin-bottom: -10%;
}
.container-list{
    display: grid;
    height: -webkit-fill-available;
    width: 50%;
    margin: 1%;
}

.container-list .list{
    margin-top: 20%;
}